/* @import "reset.css"; */


@keyframes blue-scooter {
  from {left: 40px;}
  to {left: calc(100% - 140px);}
}

#bluesquare {
  position: absolute;
  background-color: blue;
  margin-top: 40px;
  left: 40px;
  height: 100px;
  width: 100px;
  animation-name: blue-scooter;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}
