@import "reset.css";


@keyframes blue-scooter {
  from {left: 40px;}
  to {left: calc(100% - 140px);}
}

@keyframes rotation {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

#bluesquare {
  position: absolute;
  background-image: url(../images/ian-is-a-genius.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 40px;
  left: 40px;
  height: 100px;
  width: 100px;
}

.moveme {
  animation-name: blue-scooter;
  animation-duration: 6s;
  animation-fill-mode: forwards;
}


#rays {
  display: none;
  position: absolute;
  z-index: -1;
  background-image: url(../images/yellowrays.png);
  background-size: contain;
  top: -10px;
  left: calc(100% - 185px);
  height: 200px;
  width: 200px;
  border-radius: 100px;
}

.rotateme {
  animation-name: rotation;
  animation-duration: 4s;
}
